<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
       <li><a (click)="loginAction()">Login</a></li>    <!--whenever Login is clicked a method(loginAction is called)-->
       <li><a (click)="signupAction()">Signup</a></li>    <!--calling a method on click-->
       <li><a (click)="forgotPasswordAction()">Forgot Password?</a></li> 
      </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Made by @ MrBH</h2>
</div>