<!-- Go to component -->

<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br />
    <div class="row">
        
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Category:</h2>
                    <h1 class="title">{{ data?.category }}</h1>     <!--what we want to display the count, (data contains category)-->
                    <p><button class="button" [routerLink]="['/cafe/category']">View Category</button></p>      <!--after the the view category link is clicked we'll route to the mentioned page -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Product:</h2>
                    <h1 class="title">{{ data?.product }}</h1>     <!--what we want to display the count, (data contains category)-->
                    <p><button class="button" [routerLink]="['/cafe/product']">View Product</button></p>      <!--after the the view product link is clicked we'll route to the mentioned page -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Bill:</h2>
                    <h1 class="title">{{ data?.bill }}</h1>     <!--what we want to display the count, (data contains category)-->
                    <p><button class="button" [routerLink]="['/cafe/bill']">View Bill</button></p>      <!--after the the view bill link is clicked we'll route to the mentioned page -->
                </div>
            </div>
        </div>

    </div>
</body>